/node_modules
/public/hot
/public/storage
/database/seeds/airport.dat
/database/seeds/APT.txt
/storage/*.key
/database/seeds/UserTableSeeder.php
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
